body {
    margin: 0;
    padding: 0;
    font-family: sans-serif; 
}
nav {
    background-color: #AAA; 
    padding: 10px 0;
}

nav a {
    text-decoration: none;
    color: #000000; 
}

nav li {
    padding: 15px 30px; 
    margin: 0 10px; 
    border-radius: 5px;
}

  
footer {
    background-color: #ddd;
    text-align: center;
    padding: 20px;
}


.footer-container {
    display: flex; 
    justify-content: space-around;
    align-items: center;
    flex-wrap: wrap;
}

img {
    width : 50px;
    height : 50px;
}

.social-icons img {
    width: 20px; 
    height: 20px;
    margin: 0 10px;
}

.footer-info, .contact-info {
    margin-top: 10px;
}